/*
  --- BISNODE impress.js stylesheet
*/
@import url(./bisnode-icomoon.css);

body{
    width:100%;
    font-size: 28px;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
    text-shadow: 1px 1px 2px #000;

    counter-reset: slideIdx;
}

.right {
    float: right;
    width: 49%;
    margin-left:5px;
}
.left {
    float: left;
    width: 49%;
    margin-right:5px;
}

.blank {
    background-color: white;
}

#break {
  top: 30%;
}
.modal-dialog {
  min-width: 400px;
}
.modal-title , .modal-header .close{
    text-shadow:2px 2px 2px black;
}
.modal-dialog>.modal-header {
    background-color: black;
    color: white;
    text-shadow: 2px 2px darkgray;
    min-width: 400px;
}
.modal-dialog>.modal-header button {
    color:white;
}

#break .modal-content {
background-image: url("../img/break-switching.png");
display: block;
min-height: 180px;
min-width: 400px;
-webkit-animation: play 30s steps(3) infinite;
   -moz-animation: play 30s steps(3) infinite;
    -ms-animation: play 30s steps(3) infinite;
     -o-animation: play 30s steps(3) infinite;
        animation: play 30s steps(3) infinite;
-webkit-animation-timing-function: linear;/*ease-in-out;*/
   -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
     -o-animation-timing-function: linear;
        animation-timing-function: linear;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1380px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1380px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1380px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1380px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -1380px; }
}



#final:before {
    content: url(../img/bisnode-final.png);
}

.slide.title header{

    margin-left: -60px;
    margin-right: -60px;

/*    background: url(../img/bisnode-title.png);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% auto;
    -o-background-size:  100% auto;
    -webkit-background-size:  100% auto;
    -moz-background-size:  100% auto;*/

/*    color: white; */
    text-align: left;

    position: relative;
    top: 150px;
}

/*.slide.title.alternative header{
  color: rgb(7, 77,24);
}*/


.slide.title header h2 {
/*    position:relative;
    top: 66.66666%;
    min-height: 50%;*/
    /*padding-left: 50px;*/

    font-size: 62px;
    line-height: 70px;

    text-transform: uppercase;
}

.slide.title header .subtitle{
/*    position: relative;
    top: 75%;*/

    /*padding-left: 50px;*/

    font-size: 32px;

}
.slide header > .subtitle {
    color: lightgray;
    font-family: serif;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}
.slide.title.alternative header .subtitle{
    color: rgb(7, 77,24);
}

.slide header {

    padding-top: 10px;
    padding-bottom: 20px;

    color: rgb(0,0,0);
    font-size: 28px;
    font-weight: bold;

    text-align: left;
    text-transform: uppercase;

    background-origin: border-box;
    background-size: 50% Auto;
    -o-background-size: 50% Auto;
    -webkit-background-size: 50% Auto;
    -moz-background-size: 50% Auto;
}

.slide header h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.slide footer {
    position: absolute;
    bottom: 35px;

    height: 85px;
    width: 1105px;

    background-image: url("./img/bisnode-logo-color.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;

/*    background:   url(../img/bisnode-logo-black.png), url(../img/bisnode-divider-lightgreen.png);
    background-repeat: no-repeat;
    background-position: 850px top, 10px 45px;
    background-origin: border-box;
    background-size: 150px auto, 1024px auto;
    -o-background-size: 150px auto, 1024px auto;
    -webkit-background-size: 150px auto, 1024px auto;
    -moz-background-size: 150px auto, 1024px auto;
*/
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 0px;

    margin-top: 20px;
    margin-left: -70px;
    margin-bottom: -35px;

    font-size: 14px;
    color: rgb(7, 77, 24);
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: pre;
}

.slide footer:before {
    content: counter(slideIdx) "          ";
}

.slide footer:after {
    content: "      " attr(data-author);
}

.slide.chapter header{

    position: relative;
    top: 40%;
    left: -9%;

    width: 116%;


    color: rgb(196,206,0);
    text-align: left;

    padding-bottom: 50px;
    padding-left: 110px;

}

.slide.chapter header::after {
    content: ".";

    width: 110%;
    height: 59px;

    margin-left: -10%;
    display: inline-block;

    background-image: url(../img/divider-sprites.png);
    background-position: 0 0px;
}
.slide.chapter.lightgreen header {
    /* default */
}

.slide.chapter.green header{
    color: darkgreen;
}
.slide.chapter.green header::after{
    background-position: 0 -57px;
}
.slide.chapter.orange header{
    color: orange;
}
.slide.chapter.orange header::after{
    background-position: 0 -116px;
}
.slide.chapter.blue header{
    color: #149bdf;
}
.slide.chapter.blue header::after{
    background-position: 0 -175px ;
}
.slide.chapter.gray header{
    color: gray;
}
.slide.chapter.gray header::after{
    background-position: 0 -234px ;
}
.slide.chapter.lightgray header{
    color: lightgray;
}
.slide.chapter.lightgray header::after{
    background-position: 0 -294px ;
}

.slide.chapter footer {
    background: none;
    color: lightgray;
}

.slide a:hover, a:focus {
    background: gray;
    color:white;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

li.active a.text-success:hover{
    color:green;
}
li.active a.text-error:hover {
    color:red;
}

.slide a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: whitesmoke;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    line-height: inherit;
    background-clip: border-box;
}
pre code {
    font-size: 24px;
}
blockquote {
    font-size: inherit;
}
blockquote:before {
    content:"\f10e";
    font-family: 'FontAwesome';
    font-size: xx-large;
    color:lightgray;
    margin-right: 5px;
}
blockquote.none:before {
    content:'';
}
.slide {
    display: block;

    min-width: 800px;
    min-height: 680px;
    width: 90%;
    height: 70%;

    padding: 20px 60px;
    margin-top: 20px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    text-align: left;

    font-family:  Arial, sans-serif;
    letter-spacing: -1px;

    counter-increment: slideIdx;
}
.image {
   display: block;

    width: 1024px;
    height: 680px;

    padding: 20px 60px;
    margin-top: 20px;

    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);

    background-size: 100% 100%;

}
.step.image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
    -webkit-filter: blur(2px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.image footer {

    position: absolute;
    bottom: 35px;

    height: 85px;
    width: 1105px;

    background: url(../img/bisnode-logo.png);
    background-repeat: no-repeat;
    background-position: 850px top;
    background-origin: border-box;
    background-size: 150px auto, 1024px auto;
    -o-background-size: 150px auto, 1024px auto;
    -webkit-background-size: 150px auto, 1024px auto;
    -moz-background-size: 150px auto, 1024px auto;

    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 0px;

    margin-top: 20px;
    margin-left: -70px;
    margin-bottom: -35px;

    font-size: 14px;
    color: rgb(7, 77, 24);
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: pre;
}
.image footer.black {
    background: url(../img/bisnode-logo-black.png);
    background-repeat: no-repeat;
    background-position: 850px top;
    background-origin: border-box;
    background-size: 150px auto, 1024px auto;
    -o-background-size: 150px auto, 1024px auto;
    -webkit-background-size: 150px auto, 1024px auto;
    -moz-background-size: 150px auto, 1024px auto;

}


.image header {
    text-transform: uppercase;
    color: white;
    width: 55%;

    font-size: 28px;

    font-weight: bold;

    margin-left:-60px;
    margin-top: 450px;
    padding: 30px 60px 30px 60px;
}

.image p.leading {
    font-size: 24px;
    font-family: "Times New Roman";
    text-transform: none;
    font-style: italic;
    margin-bottom: -.3em;
}
.image.title>header {

    color: white;
    width: inherit;
    height: 20%;
    font-size: 62px;

    border-top: 300px;
    margin-left:-60px;
    margin-top: 300px;
    padding-left: 60px;

}

.image.chapter>header {
    width: 90%;
    height: 100%;

    font-size: 52px;
    font-weight: bold;

    margin-top: 50px;
    padding: 30px 10px 30px 60px;
}
.image.chapter.lightgreen>header>em {
    color: rgb(189,207,49);
}
.image.chapter.orange>header>em {
    /* default */
}
.image.chapter.blue>header>em {
    color: rgb(57,187,236);
}
.step {
    width: 1024px;
}
.step:not(.active) {
    opacity: 0.3;
    z-index: -1;
}
.step.active {
    opacity: 1.0;
    z-index: 99;
}

.hint_text{
    margin-top: 120px;
    font-size:30px;
    background-color:#282a2f;
    padding:15px;
    border: 1px solid #484d52;
    border-radius: 5px;
    font-size: 18px;

}

.fallback-message {
    color: #eee;
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;

}

.fallback-message p {
    margin-bottom: 10px;
    display: none;
}

ul.list-inline>li::before {
    /* ignore bisnode list items for bootstrap list-inline */
    content: '';
}
em{
    font-style: normal;
    border-bottom: 1px solid #484d52;
    padding-bottom: 2px;
    color: #d5a830;
}
.table td.text-center {
    text-align: center;
    vertical-align: middle;
}
.box { width: 75px; }
.nav ul li {
    line-height: 24px;
}
.navbar {
    font-size: 14px;
}
quote, span, dd, dt {
    line-height: 36px;
    font-size: 24px;
}
table { font-size: 24px; }

.step.under-construction::after {
  content: "";
  background: url(../img/under-construction.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.step.assignment {
    border-style: solid;
    border-width: 30px 86px 35px 91px;
    -moz-border-image: url(../img/code-paper.png) 30 86 35 91 repeat;
    -webkit-border-image: url(../img/code-paper.png) 30 86 35 91 repeat;
    -o-border-image: url(../img/code-paper.png) 30 86 35 91 repeat;
    border-image: url(../img/code-paper.png) 30 86 35 91 fill repeat;
}

/* ======= new Bisnode design ===== */

.hintergrund1 {
    background-color: rgb(255,255,255);
}
.hintergrund2 {
    background-color: rgb(238,236,225);
}
.akzent1 {
    background-color: rgb(189,207,49);
}
.akzent1trans {
    background-color: rgba(189,207,49, 0.7);
    fill: rgba(189,207,49, 0.3);
}
.akzent1trans.note:before {
    border-color: rgb(189,207,49) #fff;
}

.akzent2 {
    background-color: rgb(54,111,54);
}
.akzent2trans {
    background-color: rgba(54,111,54, 0.7);
    fill: rgba(54,111,54, 0.3);
}
.akzent3 {
    background-color: rgb(251,195,17);
}
.akzent3trans {
    background-color: rgba(251,195,17, 0.7);
    fill:rgba(251,195,17, 0.3);
}
.akzent4 {
    background-color: rgb(57,187,236);
}
.akzent4trans {
    background-color: rgba(57,187,236, 0.7);
    fill: rgba(57,187,236, 0.3);
}
.akzent5 {
    background-color: rgb(204,204,204);
}
.akzent5trans {
    background-color: rgba(204,204,204, 0.7);
     fill: rgba(204,204,204, 0.7);
}
.akzent6 {
    background-color: rgb(127,127,127);
}
.akzent6trans {
    background-color: rgba(127,127,127, 0.7);
}
.text0 {
    color: rgb(0,0,0);
}
.text1 {
    color: rgb(189,207,49);
    fill: rgb(189,207,49);
    stroke: rgb(189,207,49);
}
.text2 {
    color: rgb(54,111,54);
    fill: rgb(54,111,54);
    stroke: rgb(54,111,54);
}
.text3 {
    color: rgb(251,195,17);
    stroke: rgb(251,195,17);
    fill: rgb(251,195,17);
}
.text4 {
    color: rgb(57,187,236);
    fill: rgb(57,187,236);
    stroke: rgb(57,187,236);
}
.text4trans {
    color: rgba(57,187,236, 0.3);
    fill: rgba(57,187,236, 0.3);
    stroke: rgba(57,187,236, 0.3);
}
.text5 {
    color: rgb(204,204,204);
    fill: rgb(204,204,204);
    stroke: rgb(204,204,204);
}
.text6 {
    color: rgb(127,127,127);
    fill: rgb(127,127,127);
    stroke: rgb(127,127,127);
}
.white {
    color:white;
}
.black {
    color:black;
}

.fa-6x {
    font-size: 6em;
}
.fa-8x{
    font-size: 8em;
}
.fa-10x{
    font-size: 8em;
}
.fa-1o{
    font-size:0.75em;
}
.fa-2o{
    font-size:0.5em;
}
ul.agenda , ol.agenda {
    list-style: none;
    counter-reset: li;
}

ul.agenda li , ol.agenda li{
        height: 48px;
        width: 90%;
        display: list-item;
        margin: 5px 0px 5px 0px;
        counter-increment: li;
        background-color: rgb(242,242,242);
        border-top-right-radius: 130px 50px;
        border-bottom-right-radius: 130px 50px ;
        vertical-align: middle;
}
.note {
  position: relative;
  padding: 10px;
  color: #fff;
}
.note:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 20px 20px 0 0;
  border-style: solid;
  border-color: red  #fff;
}
.akzent4:before {
    border-color: rgb(36,122,154) #fff;
}
.akzent4trans:before {
    border-color: rgb(57,187,236) #fff;
}
.note>hr {
    width:95%;
    height:3px;
    color:#fff;
    background-color: #fff;
}

.todo {
    background-color: darkred;
    color: white;
}
.todo:before, .todo:after {
    content: "\f071";
    font-family: "FontAwesome";
    margin: 10px 5px 10px 5px;
    color:whitesmoke;
}

.agenda.item.fa-ul>li>.fa-li {
    font-size: 62px;
    left:-0.75em;
    margin-top: -.25em;
    margin-right: -0.75em;
}
ol.agenda.item.fa-ul>li>.fa-li:after {
    content:counter(li);
    color:white;

    text-shadow: 3px 3px 5px black;
    font-size:0.3em;

    position:relative;
    left:-1.75em;
    top:-1.25em;

}
.agenda.fa-ul>li:before {
    content:"";
}

ul.agenda li::before, ol.agenda li::before {

  display:inline-block;
  position: relative;
  top:20px;
  left: 0px;

  font-family: 'bisnode-icomoon';
  font-size: 62px;
  content: '\e603';

  width: 50px;
  height: 53px;

  margin-right: 20px;
  margin-left: -20px;
  margin-top: -40px;


  text-align: center;

}
ol.agenda li::before {
   content: counter(li);
}
ul.agenda li::after , ol.agenda li::after {

  font-family: 'bisnode-icomoon';
  font-size: 44px;
  content: '\e604';

  margin: -7px 0px -45px 0px;
  float:right;

  width: 55px;
  height: 53px;
  display: inline;

}

ul.list-unstyled li::before , ol.list-unstyled li::before {
    content:'';
}

.item li:nth-child(1):before, .item dt:nth-of-type(1) , .agenda li:nth-child(1):after,
.item li:nth-child(1)>i.fa-li:before, .agenda li:nth-child(1) .fa-li {
   color: rgb(189,207,49);
}
.item li:nth-child(2):before, .item dt:nth-of-type(2), .agenda li:nth-child(2):after,
.item li:nth-child(2)>i.fa-li:before, .agenda li:nth-child(1) .fa-li {
    color: rgb(54,111,54);
}
.item li:nth-child(3):before, .item dt:nth-of-type(3), .agenda li:nth-child(3):after,
.item li:nth-child(3)>i.fa-li:before, .agenda li:nth-child(1) .fa-li {
    color: rgb(251,195,17);
}
.item li:nth-child(4):before, .item dt:nth-of-type(4), .agenda li:nth-child(4):after,
.item li:nth-child(4)>i.fa-li:before, .agenda li:nth-child(1) .fa-li {
    color:rgb(57,187,236);
}
.item li:nth-child(5):before, .item dt:nth-of-type(5), .agenda li:nth-child(5):after,
.item li:nth-child(5)>i.fa-li:before, .agenda li:nth-child(1) .fa-li {
    color: rgb(204,204,204);
}
.item li:nth-child(6):before, .item dt:nth-of-type(6), .agenda li:nth-child(6):after,
.item li:nth-child(6)>i.fa-li:before, .agenda li:nth-child(1) .fa-li {
    color:rgb(127,127,127);
}

ul.questions{
    list-style: none;
}
ul.questions li:before {
    content: '\f128';/*'\f059';*/
    font-family: 'FontAwesome';
    margin-right: 5px;
}
table.table {
    table-layout: fixed;
}
table, table.table-striped, table.table-bordered, tr , tr.success , tr.warning , tr.info {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
table thead tr {
    background-color: rgb(189,207,49);
    color: white;
}
table tbody tr {
    color: black;
}
td, th {
    white-space: nowrap;
    min-height: 100%;
}

header .akzent1 {
    color: #000;
}

footer>span.breadcrumb {
    background: none;
    line-height: inherit;
    font-size: larger;
    text-shadow: 2px 2px whitesmoke;
}


.carousel a.left, .carousel a.right {
    width: 100px;
    vertical-align: middle;
}
.carousel .item {
    height:600px;
    text-align:center;
}
.carousel-control i {
    position:relative;
    top: 300px;
    font-size: 4em;
}
a.carousel-control.left, a.carousel-control.right{
    color: lightgray;
    text-shadow: 5px 5px 7px black;
    background: none;
}
a.carousel-control.left{
    background: -moz-linear-gradient(left,  rgba(189,207,49,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,207,49,1)),
            color-stop(100%,rgba(189,207,49,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
a.carousel-control.right{
    background: rgba(189,207,49,0);
    background: -moz-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,207,49,0)), color-stop(100%, rgba(189,207,49,1)));
    background: -webkit-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
    background: -o-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
    background: -ms-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
    background: linear-gradient(to right, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdcf31', endColorstr='#bdcf31', GradientType=1 );
}
.carousel-indicators>li,
.carousel-indicators>li.active {
    text-indent: 0px;
    border:none;
    background-color: rgba(0,0,0,0);
}
.carousel-caption p {
    color:darkgray;
}
.carousel-indicators>li::before {
    color: rgb(189,207,49);
    font-family: 'FontAwesome';
    font-size: 18px;
    content: '\f111';
    text-shadow: 2px 2px 3px black;
}
.carousel-indicators>li.active::before {
    content: '\f10c';
}
.carousel-indicators>li[title]:hover:after {
    color: rgb(189,207,49);
    background-color: whitesmoke;

    content: attr(title);

    padding: 4px 8px;

    position: absolute;
    width:80%;
    left: 50px;
    bottom: 30px;

    white-space: nowrap;

    z-index: 20px;

    text-shadow: 2px 2px 3px black;

    border-color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.solve {
    list-style: none;
}
.solve>li::before {
    font-family: 'FontAwesome';
    content: '\f096';
    padding-right:10px;
    padding-left:5px;
}
.solve>li.correct.selected::before {
    color: darkgreen;
    text-shadow: 2px 2px 3px white;
    content:'\f046';
}
.solve>li.wrong.selected::before {
    color: red;
    text-shadow: 2px 2px 3px white;
    content:'\f05e'
}
.solve>li:hover:before {
    content:'\f046';
}
.solve>li:hover {
    color:black
}
.solve>li.selected {
    color:white;
    text-shadow: 2px 2px 3px black;
}
.solve>li.correct.selected {
    background-color: rgba(189,207,49,0.7);
}
.solve>li.wrong.selected {
    background-color: rgba(191,13,49, 0.7);
}

@keyframes color_pulse {
  0% {
    color: darkorange;
  }
  33% {
    color: red;
  }
  66% {
    color: darkred;
  }
  100% {
      color: darkorange;
  }
}

.danger {
    color: darkorange;
    background: grey;
    padding: 1px 4px;

    animation-name: color_pulse;
    animation-duration: 30s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}



/* ==== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        box-shadow:none !important;
        text-shadow: none !important;
    }
    .step {
        opacity: 1.0 !important;
        z-index: 100;
    }
    /* Black prints faster: h5bp.com/s */
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
         content: "";
    } /* Don't show links for images, or javascript/internal links */
    thead {
        display: table-header-group;
    } /* h5bp.com/t */
    table, tr, dl {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }

  .panel-collapse, .collapse {
    display: block;
    }

  .container-fluid {
    max-width: 1024px;
  }
  .carousel-indicators {
        display:none;
    }
    .carousel-inner,
    .carousel-inner .item {
        display: block;
        width:100%;
        min-height: 300px;
        height:auto;
        page-break-inside: avoid;
    }
        .carousel-control {
        display: none;
    }
    .carousel-caption {
        top: 35%;
        left:0px;
        position:relative;
        text-align:left;
    }



    @page { margin: 0.5cm; }
    p { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }


    @page land {size: landscape;}

   .step, .slide {
        page-break-inside: avoid;
        page-break-after: always;
        page-break-before: auto;
        border: none;
        margin-top: 20px;
        display: block;
        clear: both;
    }

    .step img {
        max-height: 100%;
        max-width: 100%;
    }

    .step.assignment {
        border: solid thin black;
        border-radius: 10px;
        padding: 50px;
    }
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1.0 !important;
    }
    #final, #print, footer, .under-construction,
    .fallback-message, #break {
        display: none;
    }
}